* {
	margin: 0;
	box-sizing: border-box;
	--main-color: #fff;
	--link-color: #333;
	--main-line-height: 1.8;
	--main-font-size: 20px;
	--main-font-family: 'Roboto', sans-serif 
} 

body, html{
	color: var(--main-color);
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	line-height:var(--main-line-height);
	color: var(--link-color);
	font-family: var('Roboto', sans-serif)
	font-size: var(--main-font-size);
	font-weight: 600;
} 

.nav {
	display: flex;
	justify-content: center;
	margin: 15px 0;
} 

.nav a {
	position: relative;
	display: block;
	padding: 5px 15px;
	font-size: var(--main-font-size);
}

ul li{
	display: block;			
} 

.button ul{
	display: flex;
	flex-direction: row;
}

.menu{
	display: inline-block;
	flex-basis: 70%;
}

.who{
	padding: 50px;
	padding-right: 15px;
	padding-left: 15px;
	background: #1abc9c;
}

h3{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 45px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 32px
}

.bird{
	display: inline-block;
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

.bird img{
	border-radius: 50%;
	margin-bottom: 45px;
}

.what{
	background: #474e5d;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-bottom: 50px;
}

p{
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	line-height:var(--main-line-height);
}

.search{
	width: 100px;
	height: 50px;
	border: 1px solid black;
	border-radius: 10%;
	background: #ffff;
	display: inline-block;
	position: relative;
	left:50%;
	transform: translateX(-50%);

}
.search a{
	margin-left: 30%;
	padding-top: 6%;
	color: #474e5d;
	display: inline-block;
}

.icon img{
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 20%;
	left: 0;
}

.where{
	background: #fff;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-bottom: 70px;
} 

.where h3{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 45px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 32px;
	color: black;
}

.where p{
	text-align: left;
	font-size: var(--main-font-size);
	line-height:var(--main-line-height);
	color: black;
}

.wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 2%;
	padding-right: 2%;
}

.wrap img{
	width: 100%;
	height: 100%
}

.column1{
	width: 30%;
}

.footer{
	background: #2f2f2f;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
} 

.footer a{
	color: rgb(199, 25, 184);
	font-size: 16px;
}

.mobile_block{
	display: none;
}  

#menu_toggle{
	opacity: 0;
}

input{
	display: none;
}

.menu_btn{
	display: flex;
	align-items: center;
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;	
}

.menu_list{
	display: none; 
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: 1s;
	padding: 0;
}

#menu_toggle:checked ~ .menu_list{
	display: block;
	transition: all 1s ease;
	width: 100%;
	height: 100%;
}

.menu_box{
	padding: 0%;
}

span,
span::after,
span::before{
	width: 100%;
	height: 2px;
	background: gray;
	display: block;
	position: absolute;
}

span::after{
	content: "";
	top: -8px;
}

span::before{
	content: "";
	top: 8px;
}

#menu_toggle:checked ~ .mobile_block > .menu_burger > .menu_btn > span{
	transform: rotate(45deg);
}

#menu_toggle:checked ~ .mobile_block > .menu_burger > .menu_btn > span::before{
	transform: rotate(90deg);
	top: 0px;
}

#menu_toggle:checked ~ .mobile_block > .menu_burger > .menu_btn > span::after{
	transform: rotate(0deg);
	top: 0px;
}

.item {
	display: block;  
	color: var(--link-color);
	font-family: var('Roboto', sans-serif);
	font-size: var(--main-font-size);
	font-weight: 600;  
	text-decoration: none;
	transition-duration: .25s;
	margin: 0px 20px;
	padding: 12px 0px;
}

@media screen and (max-width: 768px){
	.wrap{
		display: flex;
		flex-direction: column;
	}
	.column1{
		width: 100%;
	}
	.bird img{
		width: 250px;
	}
	.nav{
		display: none;
	}
	.mobile_block{
		display: block;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 8px 20px;
		padding: 12px 0;
	}
.menu{
		display: block;
		flex: none;
		top: 2px;
		position: relative;
	} 
}
		