* {
    margin: 0;
    box-sizing: border-box;

} 


body, html{
    
    color: #ffff;
    margin: 0;
    box-sizing: border-box;
    
   }



a {
    text-decoration: none;
    line-height: 1.8;
    
} 

.nav {
    display: flex;
    justify-content: center;
    margin: 15px 0;
   } 

.nav a{
    position: relative;
    display: block;
    padding: 5px 15px;
    font-size: 20px;
  
}

ul li{
    display: block;
        
   
} 
.button ul{
    display: flex;
    flex-direction: row;
}

.menu{
    display: inline-block;
    flex-basis: 70%;
}
.who{
    padding: 50px;
    padding-right: 15px;
    padding-left: 15px;
    background: #1abc9c;
    /* width: 100%; */
}

h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 32px
}

.bird{
    display: inline-block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.bird img{
    border-radius: 50%;
    margin-bottom: 45px;
}
.what{
    background: #474e5d;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 50px;
    /* width: 100%; */
}

p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.search{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10%;
    background: #ffff;
    display: inline-block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.search a{
    margin-left: 43%;
    padding-top: 10%;
    color: #474e5d;
    display: inline-block;
}

.icon img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.where{
    background: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 70px;
    
} 

.where h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 32px;
    color: black;
}

.where p{
    text-align: left;
    font-size: 20px;
    line-height: 1.8;
    color: black;
  
  
}

.wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}
.wrap img{
    width: 100%;
    height: 100%
}

.column1{
    width: 30%;
}


.footer{
    background: #2f2f2f;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    /* width: 100%; */

    
} 
.menu_burger{
    display: none;
}

/* Burge *//* Burge *//* Burge */
#menu_toggle{
    opacity: 0;
}

.menu_btn{
    display: flex;
    align-items: center;
    position: relative;
    top: 1px;
    left: 15px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    /* z-index: 1; */

}
.menu_box{
    display: block; 
    position: relative;
    left: -100%;
    width: 0;
    height: 0;
    transition-duration: 1s;  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
}

#menu_toggle:checked ~ .menu_box{
    display: block;
    /* padding: 15px 15px; */
    width: 100%;
    height: 100%;
    left: 0;
    transition-duration: 1s;
}

span,
span::after,
span::before{
    width: 100%;
    height: 2px;
  
    background: gray;
    display: block;
    position: relative;

}

span::after{
    content: "";
    top: -10px;
}

span::before{
    content: "";
    top: 8px;
}

#menu_toggle:checked ~ .menu_btn > span{
    transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before{
    transform: rotate(90deg);
    top: 0px;
}

#menu_toggle:checked ~ .menu_btn > span::after{
    transform: rotate(0deg);
    top: -2px;
    
}
.item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .item:hover {
    background-color: #CFD8DC;
  }


/* Burge *//* Burge *//* Burge */

@media screen and (max-width: 425px){
   .wrap{
       display: flex;
       flex-direction: column;
   }
   .column1{
       width: 100%;
   }
   .bird img{
       width: 250px;
   }
   .nav{
       display: none;
   }
 


}

@media screen and (max-width: 425px){
    .menu_burger{
        display: block;
        
    }
    
  
 
 
 }



       